<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>document</title>
  <style>
    
  </style>
</head>
<body>
  <% if (username) { %>
    <div><%= username %> 님 환영합니다.</div>
  <% } else { %>
    <div>로그인이 필요합니다.

    </div>
  <% } %>
</body>
</html>